$gutter: 1rem;

@import 'node_modules/primeflex/primeflex.scss';

@import 'prismjs/themes/prism-coy.css';
@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';
@import './AppDemo.scss';

.layout-menu ul a.active-route, .layout-menu ul .p-link.active-route {
  font-weight: 700;
  font-weight: bold ;
  font-size: medium;
}